---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@mixin retina {
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 144dppx) {
    @content;
  }
}

@mixin blog-container {
  .container {
    @media (min-width: 48em) {
      max-width: 720px;
    }
  }
}

section {
  padding: 4rem 0 4rem;
}

pre,
code {
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

.blog {
  > .container {
    @media (min-width: 48em) {
      max-width: 720px;
    }
  }
}

.post {
  > .container {
    @media (min-width: 48em) {
      max-width: 720px;
    }
  }
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
  background-image: url('../assets/layouts/blog-hero.jpg');
  height: 400px;
  max-height: 400px;
  min-height: 400px;

	@include retina {
  	background-image: url('../assets/layouts/blog-hero_2x.jpg');
	}

  &.post {
    background-image: none;
  }

  .overlay {
  	background-color: transparent;

    &.post {
      background-color: #398ECA;
    }
	}


}

.post-header {
  margin-top: 3rem;
}

.post-title {
  margin-bottom: 0.5rem;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "syntax-highlighting";
