---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@mixin retina {
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 144dppx) {
    @content;
  }
}

section {
  padding-top: 4rem;
}

pre,
code {
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

.blog {

  .posts {
    .post-title {
      font-size: 1.6rem;
    }
  }
}

.post {

  .post-header {
    margin-top: 3rem;
  }

  .post-title {
    margin-bottom: 0.5rem;
  }
}

.post-content {

  .article-body {
    h1, h2, h3, h4, h5, h6 {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    h1 {
      font-size: 2.4rem;
    }

    h2 {
      font-size: 2.0rem;
    }

    h3 {
      font-size: 1.6rem;
    }

    h4 {
      font-size: 1.2rem;
    }

    h5 {
      font-size: 1rem;
    }

    h6 {
      font-size: 1rem;
    }
  }

  .social-action {

    margin-top: 3rem;

    .twitter-share-button {
      vertical-align: bottom;
    }
  }
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
  background-image: url('../assets/layouts/blog-hero.jpg');
  height: 400px;
  max-height: 400px;
  min-height: 400px;

	@include retina {
  	background-image: url('../assets/layouts/blog-hero_2x.jpg');
	}

  &.post {
    background-image: none;
  }

  .overlay {
  	background-color: transparent;

    &.post {
      background-color: #398ECA;
    }
	}
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "syntax-highlighting";
