<footer class="footer text-xs-center">
    <div class="container">
      <div>
        <ul class="list-inline social-list">
          <li class="list-inline-item">
            <a target="_blank" href="//www.facebook.com/masamichi.ueta.1" ><i class="fa fa-facebook fa-lg"></i></a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" href="//twitter.com/micchyboy" ><i class="fa fa-twitter fa-lg"></i></a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" href="//www.instagram.com/micchyboy/" ><i class="fa fa-instagram fa-lg"></i></a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" href="//github.com/micchyboy1023"><i class="fa fa-github fa-lg"></i></a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" href="//medium.com/@micchyboy"><i class="fa fa-medium fa-lg"></i></a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" href="//qiita.com/micchyboy"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss fa-lg"></i></a>
          </li>
        </ul>
        <p>© 2011-2017 Masamichi Ueta</p>
      </div>
    </div>
  </footer>
