---
layout: default
---
{% if page.hero-image %}
<section class="blog-hero text-xs-center" style="background-image: url({{ site.baseurl }}/assets/posts/{{ page.date | date: "%Y-%m-%d" }}/{{ page.hero-image }})">
  <div class="overlay"></div>
{% else %}
<section class="blog-hero background-image-none text-xs-center">
  <div class="overlay background-color-main"></div>
{% endif %}
  <div class="blog-hero-content">
    <div class="container">
      <h1 itemprop="name headline">{{ page.title }}</h1>
      <p><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
    </div>
  </div>
</section>

<section class="post-content">
  <div class="container">
    <article itemscope itemtype="http://schema.org/BlogPosting">

      <div class="article-body" itemprop="articleBody">
        {{ content }}
      </div>


      <div class="social-action">

        <a href="https://twitter.com/share" class="twitter-share-button" data-via="micchyboy">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <div class="fb-like" data-href="{{ post.url | prepend: site.baseurl }}" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>

      </div>

    </article>
  </div>
</section>
